{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if active_child_feeds != None %}
<div>
    <h1>Feed History: {{ user_active_child_name }}</h1>
    <hr>
    <div id="feed_history_table"></div>
</div>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    new gridjs.Grid({
        columns: [
            { id: 'child_first_name', name: 'Child Name' },
            { id: 'feed_type', name: 'Feed Type' },
            { id: 'feed_timestamp', name: 'Feed Time', sort: true },
        ],
        server: {
            url: '/api/feed_history_data',
            then: results => results.data,
        },
        search: true,
        sort: true,
        pagination: true,
    }).render(document.getElementById('feed_history_table'));
</script>
{% endif %}
{% endblock %}