<!doctype html>
{% extends "base.html" %}

{% block content %}
<h1>Hey {{ current_user.username }}, welcome to FeedIQ!</h1>
{% if user_children != None %}
<h3>Submit a Feed</h3>
<form action="" method="post">
    {{ log_feed_form.hidden_tag() }}
    <p>
        {{ log_feed_form.selected_child.label }}<br>
        {{ log_feed_form.selected_child(size=1) }}
        {% for error in log_feed_form.selected_child.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    {% for subfield in log_feed_form.feed_type %}
    <tr>
        <td>{{ subfield.label }}</td>
        <td>{{ subfield }}</td>
    </tr>
    {% endfor %}
    {% for error in log_feed_form.feed_type.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p>{{ log_feed_form.submit() }}</p>
</form>
{% endif %}
<h3>Latest Feeds:</h3>
{% for feed in feeds %}
<div>
    <p>{{ feed.feed_type }} Feed at {{ feed.feed_datetime }}</p>
</div>
{% endfor %}
{% endblock %}}